<h1> Showing selected article</h1>





  <div class="post">
    <div class="thumb-big"><%= image_tag @article.image.url, width: '100%' %></div>
    <div class="meta-box">
      <img class="image-author" src="images/assets/author1.jpg" alt="#">
      <h3> <%= @article.title %></h3>
      <div class="meta-more">
        <span><i class="icon-user"></i> <a href="#">behzad</a></span>
        <span><i class="icon-time"></i><%= @article.created_at %></span>
        <span><i class="icon-comments"></i> <a href="#">13 Comments</a></span>
        <span><i class="icon-link"></i> in <a href="#">news</a>, <a href="#">photo</a>, <a href="#">3d</a></span>
      </div><!-- meta more -->
    </div><!-- meta box -->
<p><strong>Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</strong><br><br><%= @article.description %> </p>
<p><strong>1914 translation by H. Rackham</strong><br><br><img class="fll" src="images/assets/portfolio-thumb10.jpg" alt="#" width="400">"On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."</p>

<div class="share-post mb mtf clearfix">non
  <div class="btn-share"><a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a></div>
  <div class="btn-share"><div id="fb-root"></div><div class="fb-like" data-send="false" data-layout="box_count" data-show-faces="false"></div></div>
  <div class="btn-share"><script type="IN/Share" data-counter="top"></script></div>
  <div class="btn-share"><script data-counter="top" type="XING/Share"></script></div>
  <div class="btn-share"><g:plusone size="tall"></g:plusone></div>
  <div class="btn-share"><a class='DiggThisButton DiggMedium'></a></div>
  <div class="btn-share"><script type="text/javascript" src="http://www.reddit.com/static/button/button2.js"></script></div>
</div><!-- close share post -->
</div><!-- end post image -->

<div class="author-box">
  <img class="image-author-big fll" src="images/assets/author-big.jpg" alt="#" width="160" height="160">
  <div class="author-details">
    <h3> Behzad <small>- author</small> </h3>
    <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. </p>
    <div class="author-social social">
      <a href="#" class="toptip" title="Follow me on Twitter"><i class="icon-twitter"></i></a>
      <a href="#" class="toptip" title="Google Plus"><i class="icon-google-plus"></i></a>
      <a href="#" class="toptip" title="Follow me on Facebook"><i class="icon-facebook"></i></a>
      <a href="#" class="toptip" title="Behzad Posts Feed"><i class="icon-rss"></i></a>
    </div><!-- author social -->
  </div><!-- author details -->
</div><!-- meta box -->

<div class="post-links">
  <a class="fll" href="blog-single-video.html" title="#"><i class="icon-long-arrow-left"></i> Nemo enim ipsam voluptatem quia voluptas sit</a>
  <a class="flr" href="blog-single-slider.html" title="#">Neque porro quisquam est, qui <i class="icon-long-arrow-right"></i></a>
</div><!-- post links -->

<!-- Disqus Comment Form -->
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* <![CDATA[ */
  var disqus_shortname = 'officialtemplate';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  /* ]]> */
</script><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- Disqus Comment Form -->

</div><!-- grid 8 posts -->












































<%= link_to "Edit this article", edit_article_path(@article)  %>

<%=  link_to "Back to articles listing", articles_path %>



