<header id="header" class="header_v3">
  <div class="extrabox">
    <div class="row clearfix">
      <div class="extra-content">
        <div class="grid_8">
          <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3151.835837652496!2d144.955431!3d-37.817313999999996!3m2!1i1024!2i768!4f13.1!2m1!1senvato!5e0!3m2!1sen!2s!4v1397145257364" height="260"></iframe>
          </div><!-- map -->
        </div><!-- grid 8 -->

        <div class="grid_4">
          <h3 class="col-title"> Quick Contact </h3><span class="liner"></span>
          <div class="widget-content">
            <form method="post" id="contactForm-widget" action="processForm.php">
              <div class="clearfix">
                <div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName" placeholder="Name *" class="requiredField" /></div>
                <div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail" placeholder="Email Address *" class="requiredField email" /></div>
              </div>
              <div><textarea name="message" id="message" placeholder="Message *" class="requiredField" rows="6"></textarea></div>
              <input type="submit" id="sendMessage" name="sendMessage" value="Send Email" />
              <span>  </span>
            </form><!-- end form -->
          </div><!-- widget content -->
        </div><!-- grid 4 -->
      </div><!-- extra content -->

      <div class="arrow-down"><i class="icon-angle-down"></i></div><!-- arrow down -->
    </div><!-- end row -->
  </div>	<!-- end extrabox -->

  <div class="head">
    <div class="row clearfix">
      <div class="logo">
        <%= link_to(image_tag("loccaf.jpeg", :alt => "loccaf", :title => "Home"), "index.html") %>      </div><!-- end logo -->

      <div class="social circular social-head">
        <a href="#" class="toptip" title="Linkedin"><i class="icon-linkedin"></i></a>
        <a href="#" class="toptip" title="instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="toptip" title="Google Plus"><i class="icon-google-plus"></i></a>
        <a href="#" class="toptip" title="Facebook"><i class="icon-facebook"></i></a>
        <a href="#" class="toptip" title="Twitter"><i class="icon-twitter"></i></a>
      </div><!-- end social -->

      <div class="info">
        <span><i class="icon-envelope-alt"></i>  info@loccaf.com</span>
        <span><i class="icon-phone"></i>  021 66 00 22 11</span>
      </div><!-- end info -->
    </div><!-- row -->
  </div><!-- head -->

  <div class="headdown my_sticky">
    <div class="row clearfix">
      <nav id="mymenuleft">
        <ul class="sf-menu">
          <li class="current selectedLava"><%= link_to "Home", root_path %>
            <ul></ul>
          </li>
          <li><%= link_to "Blog", articles_path %>
            <ul>
              <li><%= link_to "New", new_article_path %></li>
              <li><a href="shop-login-register.html">Login / Register</a></li>
              <li><a href="shop-my-account.html">My Account</a></li>
            </ul>
          </li>
          <li><%= link_to "PHOTO GALLERY" %>
            <ul>
              <li><a href="icons-awesome.html"><i class="icon-ticket"></i>361 Retina Icons</a></li>
              <li><a href="under-construction.html">Under Construction</a></li>
            </ul>
          </li>
          <li><%= link_to "EVENTS" %>
            <ul>
              <li><%= link_to "New" %></li>


            </ul>
          </li>
          <li><%= link_to "Blog", articles_path %>
            <ul>
              <li><a href="blog-right-sidebar.html">Blog Large Image</a></li>
              <li><a href="blog-medium.html">Blog Medium Image</a></li>
              <li><a href="blog-small.html">Blog Small Image</a></li>
              <li><a href="blog-single-image.html">Blog Single</a>
                <ul>
                  <li><a href="blog-single-image.html">Blog Single Image</a></li>
                  <li><a href="blog-single-video.html">Blog Single Video</a></li>
                  <li><a href="blog-single-slider.html">Blog Single Slider</a></li>
                  <li><a href="blog-single-sound.html">Blog Single Sound</a></li>
                  <li><a href="blog-single-facebook-comment.html">Comment by Facebook</a></li>
                  <li><a href="blog-single-commentform.html">With Comment Form</a></li>
                </ul>
              </li>
              <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
              <li><a href="blog-both-sidebar.html">Blog Both Sidebar</a></li>
              <li><a href="blog-both-sidebar-left.html">Blog Both Sidebar Left</a></li>
              <li><a href="blog-both-sidebar-right.html">Blog Both Sidebar Right</a></li>
              <li><a href="blog-2-columns.html">Blog 2 Columns</a></li>
              <li><a href="blog-3-columns.html">Blog 3 Columns</a></li>
              <li><a href="events.html">Events</a></li>
            </ul>
          </li>
          <li><a href="#">Shortcodes</a>
            <ul>

            </ul>
          </li>
          <li><a href="contact.html">Contact</a>
            <ul>
              <li><a href="contact2.html">Contact Page 2</a></li>
              <li><a href="contact3.html">Contact Page 3</a></li>
            </ul>
          </li>
        </ul><!-- end menu -->
      </nav><!-- end nav -->

      <div class="search">
        <form action="search.html" id="search" method="get">
          <input id="inputhead" name="search" type="text" onfocus="if (this.value=='Start Searching...') this.value = '';" onblur="if (this.value=='') this.value = 'Start Searching...';" value="Start Searching..." placeholder="Start Searching ...">
          <button type="submit"><i class="icon-search"></i></button>
        </form><!-- end form -->
      </div><!-- search -->
    </div><!-- row -->
  </div><!-- headdown -->
</header><!-- end header -->